*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background-color: beige;
    font-family: 'Courier New';
}

#wrapper{
    width: 350px;
    height: 250px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

header{
    background-color: #ECECEC;
    padding: 10px 15px;
}